@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,100&display=swap');


body{
    font-family: 'Roboto', sans-serif;
    background-color: #1d1e20;
    color: #fff;
}

h1,.introducao{
    margin-top: 25px;
    text-align: center;
    color: #fff;
}


.container{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

form{
    border: 2px solid #fff;
    border-radius: 10px;
    width: 830px;
    padding: 10px;
}

.container-form{

    margin-bottom: 15px;
}

legend{
    text-align: center;
}

.container-form, label{
    font-size: 18px;
    color: #fff;
    font-weight: 400;
}

.container-form, input{
    color:rgb(15, 82, 226);
    font-weight: 600;
    text-align: center;
}

.tamanho{
    width: 5%;
    text-align: center;
} 


p{
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(66, 229, 235);
}

.parede1,.parede2,.parede3,.parede4{
    display: none;
    margin:7px 5px ;
    color: tomato;
    font-size: 0.9rem;
} 

button{
    margin-top: 18px;
    background-color: rgb(43, 126, 129);
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 6px 12px;
    border-radius: 4px;
}

button:hover{
    background-color: rgb(13, 138, 155);
}


 .btn{
    display: flex;
    justify-content: center;
} 

.resultado{
    display: block;
    text-align: center;
    margin-top: 15px;
    
}

.resultado,#resposta-paredes{
    margin-bottom: 5px;
}
.resultado,#tinta{
    color: #fff;
}


